<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erstellung einer neuen Klausur</title>
    <link rel="stylesheet" href="/klausurDetail.css">
    <meta charset="utf-8">
</head>
<body class="body">
    <div class="navigation">
		<a class = "navigation__item" href="./start.html">Aktiv</a>
		<a class = "navigation__item" href="./archiv.html">Archiv</a>
		<a class = "navigation__item navigation__item--active" href="#">Neue Klausur</a>
    </div>
    <main>
        <section class="inputBlock">
            <div class="inputBlock__function inputBlock__function--uppercase" th:text="${klausur.veranstaltung}">Eine neue Klausur erstellen</div>
            <table class="inputBlock__table">
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th inputBlock__function--uppercase" colspan="2">Klausur</th>                 
                </tr>
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th" >ID</th>
                    <td class="inputBlock__table__td" th:text="${klausur.id}">123456</td>
                </tr>
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th">Veranstaltung</th>
                    <td class="inputBlock__table__td" th:text="${klausur.veranstaltung}">Theretische Informatik</td>
                </tr>
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th">Semester</th>
                    <td class="inputBlock__table__td" th:text="${klausur.semester}">WISE</td>
                </tr>
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th">Jahr</th>
                    <td class="inputBlock__table__td" th:text="${klausur.jahr}">2020</td>
                </tr>
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th">Aufgabe</th>
                    <td class="inputBlock__table__td"></td>
                </tr>
            </table>
            <table class="inputBlock__table">
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th inputBlock__function--uppercase" colspan="3">Aufgabe</th>                 
                </tr>
                <tr class="inputBlock__table__tr">
                    <th class="inputBlock__table__th">ID</th>
                    <th class="inputBlock__table__th">Name</th>
                    <th class="inputBlock__table__th">MaxPunkte</th>
                </tr>
                <tr class="inputBlock__table__tr" th:each="aufgabe : ${aufgaben}">
                    <td class="inputBlock__table__th" th:text="${aufgabe.id}">12</td>
                    <td class="inputBlock__table__td" th:text="${aufgabe.name}">WISE</td>
                    <td class="inputBlock__table__td" th:text="${aufgabe.maxPunkte}">30</td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>