<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erstellung einer neuen Klausur</title>
    <link rel="stylesheet" href="/neueKlausur.css">
    <meta charset="utf-8">
</head>
<body class="body">
    <div class="navigation">
		<a class = "navigation__item" href="./start.html" th:href="@{/klausur/listKlausuren}">Aktiv</a>
		<a class = "navigation__item" href="./archiv.html" th:href="@{/klausur/test}">Archiv</a>
		<a class = "navigation__item navigation__item--active" href="#" th:href="@{/klausur/createKlausur}">Neue Klausur</a>
    </div>
    <main>
        <section class="inputBlock">
            <div class="inputBlock__function inputBlock__function--uppercase">Eine neue Klausur erstellen</div>
            <form class ="inputBlock__form" action="./uebersichtPruefung.html" th:action="@{/klausur/createKlausur}" th:object="${neuKlausur}" method="POST">
                <label for="veranstaltung" class="inputBlock__label">Veranstaltung</label>
                <input type="text" name="veranstaltung" th:field="*{veranstaltung}" class="inputBlock__input" size="60" maxlength="60" placeholder="Entwurfsmuster und Komponentenbasierte Systeme 2021" required><br>
                <label for="modulnummer" class="inputBlock__label">Modulnummer</label>
                <input type="number" name="modulnummer" class="inputBlock__input"  pattern="[0-9]{7}" title="Die Länge der Modulnummer muss 7 sein." placeholder="4851266">
                <label for="jahr" class="inputBlock__label">Jahr</label>
                <input type="text" name="jahr" th:field="*{jahr}" class="inputBlock__input"><br>
                <label for="pruefungsart" class="inputBlock__label">Prüfungsart</label>
                <select name="pruefungsart" class="inputBlock__input">
                    <option value="Muendliche Pruefung">Mündliche Pruefung</option>
                    <option value="Praktische Pruefung">Praktische Pruefung</option>
                    <option value="Schriftliche Pruefung">Schriftliche Pruefung</option>
                </select>
                <label for="semester" class="inputBlock__label">Semester</label>
                <select name="semester" th:field="*{semester}" class="inputBlock__input">
                    <option value="Winter" th:value="WISE">Winter</option>
                    <option value="Sommer" th:value="SOSE">Sommer</option>
                </select><br>
                <button type="submit" class="inputBlock__button">Erstellen</button> 
            </form>
        </section>
    </main>
</body>
</html>