<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/start.css">
<meta charset="UTF-8" />
<title>Aktive Klausuren</title>
<style>
</style>
</head>

<body class="body">
	<div class="navigation">
		<a class="navigation__item navigation__item--active" href="#" th:href="@{/klausur/listKlausuren}">Aktiv</a>
		<a class="navigation__item" href="./archiv.html" th:href="@{/klausur/test}">Archiv</a> <a
			class="navigation__item" href="./neueKlausur.html" th:href="@{/klausur/createKlausur}">Neue Klausur</a>
	</div>
	<div class="contentContainer">
		<div class="itemsContainer">
			<div class="itemsContainer__header">
				<h1 class="itemsContainer__header--align">Aktive Klausuren</h1>
				<input class="itemsContainer__header--inputHeight" type="search"
					id="suche" placeholder="Suche...">
			</div>
			<div th:each="klausur : ${klausuren}">
				<div th:if="${klausur.semester.name() eq 'WISE'}">
					<div class="itemsContainer__elementWiSe">
						<div class="itemsContainer__elementWiSeSquare">
							<p class="itemsContainer__elementWiSeSquare--textColor"
								th:text="${klausur.semester}">WISE</p>
						</div>
						<div class="itemsContainer__elementWiSeText">
							<a th:text="${klausur.veranstaltung}" th:href="@{'/klausur/' + ${klausur.id}}">Fortgeschrittenes
								Web-Engineering 2020</a>
						</div>
					</div>
				</div>
				<div th:if="${klausur.semester.name() eq 'SOSE'}">
					<div class="itemsContainer__elementSoSe">
						<div class="itemsContainer__elementSoSeSquare">
							<p class="itemsContainer__elementSoSeSquare--textColor"
								th:text="${klausur.semester}">SoSe</p>
						</div>
						<div class="itemsContainer__elementSoSeText">
							<a th:text="${klausur.veranstaltung}" th:href="@{'/klausur/' + ${klausur.id}}">Fortgeschrittenes
								Web-Engineering 2020</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>