<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="uebersichtStudierende.css" media="screen" />
    <meta charset="UTF-8" />
    <title>Entwurfsmuser und Komponentenbasierte Systeme 2021</title>
</head>

<body class="body">
    <div class="navigation">
        <a class="navigation__item" href="./start.html">Aktiv</a>
        <a class="navigation__item" href="./archiv.html">Archiv</a>
        <a class="navigation__item" href="./neueKlausur.html">Neue Klausur</a>
        <a class="navigation__item navigation__item--active">Entwurfsmuser und Komponentenbasierte Systeme 2021</a>
        <a class="navigation__item">WiSe</a>
    </div>
    <br>
    <table class="studisTabel">
        <thead class="studisTabel--tableHead">
            <tr>
                <th>Mat. Nr.</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th class="studisTabel--borderRight">Versuch</th>
                <th class="studisTabel--complete">Aufgabe 1</th>
                <th class="studisTabel--complete">Aufgabe 2</th>
                <th>Aufgabe 3</th>
                <th class="studisTabel--complete">Aufgabe 4</th>
                <th class="studisTabel--complete">Aufgabe 5</th>
                <th class="studisTabel--complete studisTabel--borderRight">Aufgabe 6</th>
                <th class="studisTabel--borderRight">Gesamt</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr class="studisTabel--tableRow">
                <td>8093314</td>
                <td>Schultheiss</td>
                <td>Thorsten</td>
                <td class="studisTabel--borderRight">1</td>
                <td>10 / 15</td>
                <td>10 / 10</td>
                <td>-- / 15</td>
                <td>20 / 20</td>
                <td>10 / 20</td>
                <td class="studisTabel--borderRight">19 / 20</td>
                <td class="studisTabel--borderRight">69 / 100</td>
                <td>3,0</td>
            </tr>
            <tr class="studisTabel--thirdTry studisTabel--tableRow">
                <td>7712179</td>
                <td>Seiler</td>
                <td>Marko</td>
                <td class="studisTabel--borderRight">3</td>
                <td>12 / 15</td>
                <td>09 / 10</td>
                <td>-- / 15</td>
                <td>15 / 20</td>
                <td>15 / 20</td>
                <td class="studisTabel--borderRight">15 / 20</td>
                <td class="studisTabel--borderRight">66 / 100</td>
                <td>3,0</td>
            </tr>
            <tr class="studisTabel--tableRow">
                <td>7051014</td>
                <td>Reniger</td>
                <td>Doreen</td>
                <td class="studisTabel--borderRight">1</td>
                <td>03 / 15</td>
                <td>10 / 10</td>
                <td>-- / 15</td>
                <td>17 / 20</td>
                <td>16 / 20</td>
                <td class="studisTabel--borderRight">14 / 20</td>
                <td class="studisTabel--borderRight">60 / 100</td>
                <td>3,7</td>
            </tr>
            <tr class="studisTabel--tableRow">
                <td>2541988</td>
                <td>Amsel</td>
                <td>Barbara</td>
                <td class="studisTabel--borderRight">2</td>
                <td>11 / 15</td>
                <td>05 / 10</td>
                <td>-- / 15</td>
                <td>20 / 20</td>
                <td>07 / 20</td>
                <td class="studisTabel--borderRight">20 / 20</td>
                <td class="studisTabel--borderRight">63 / 100</td>
                <td>3,3</td>
            </tr>
            <tr class="studisTabel--tableRow">
                <td>6980047</td>
                <td>Fisher</td>
                <td>Erik</td>
                <td class="studisTabel--borderRight">2</td>
                <td>10 / 15</td>
                <td>10 / 10</td>
                <td>-- / 15</td>
                <td>20 / 20</td>
                <td>19 / 20</td>
                <td class="studisTabel--borderRight">19 / 20</td>
                <td class="studisTabel--borderRight">78 / 100</td>
                <td>2,3</td>
            </tr>
        </tbody>
    </table>
    <button class="exit__button exit__button--floating" type="button">
        Beenden
    </button>
</body>

</html>