<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" type="text/css" href="uebersichtPruefung.css" media="screen" />
    <meta charset="UTF-8" />
    <title>Entwurfsmuser und Komponentenbasierte Systeme 2021</title>
</head>

<body class="body">
    <div class="navigation">
        <a class="navigation__item" href="./start.html">Aktiv</a>
        <a class="navigation__item" href="./archiv.html">Archiv</a>
        <a class="navigation__item" href="./neueKlausur.html">Neue
            Klausur</a>
        <a class="navigation__item navigation__item--active">Entwurfsmuser
            und Komponentenbasierte Systeme 2021</a>
        <a class="navigation__item">WiSe</a>
    </div>
    <br>
    <div class="examiner examiner--floating">
        <h1>Prüfer*innen</h1>
        <ul class="examiner__list">
            <li class="examiner__listitem">ICON Heike Hermann</li>
        </ul>
        <button class="examiner__button" type="button">Prüfer*in hinzufügen</button>
    </div>
    <div class="studis studis--floating">
        <h1>Studis (5)</h1>
        <table class="studis__table">
            <tbody>
                <tr>
                    <td>Thorsten</td>
                    <td>Schultheiss</td>
                    <td>8093314</td>
                </tr>
                <tr>
                    <td>Marko</td>
                    <td>Seiler</td>
                    <td>7712179</td>
                </tr>
                <tr>
                    <td>Doreen</td>
                    <td>Reniger</td>
                    <td>7051014</td>
                </tr>
                <tr>
                    <td>Barbara</td>
                    <td>Amsel</td>
                    <td>2541988</td>
                </tr>
                <tr>
                    <td>Erik</td>
                    <td>Fisher</td>
                    <td>6980047</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tasks">
        <h1>Aufgaben</h1>
        <table>
            <tbody>
                <tr>
                    <td>Icon</td>
                    <td>Aufgabe 1</td>
                    <td>100</td>
                    <td>Punkte</td>
                </tr>
            </tbody>
        </table>
        <button class="tasks__button" type="button">Aufgabe hinzufügen</button>
    </div>
    <div class="clefAndEvaluation">
        <div class="clef">
            <h1>Notenschlüssel</h1>
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td>1,0</td>
                        <td>1,3</td>
                        <td>1,7</td>
                        <td>2,0</td>
                        <td>2,3</td>
                        <td>2,7</td>
                        <td>3,0</td>
                        <td>3,3</td>
                        <td>3,7</td>
                        <td>4,0</td>
                    </tr>
                    <tr>
                        <td>Bis:</td>
                        <td>96</td>
                        <td>91</td>
                        <td>86</td>
                        <td>81</td>
                        <td>76</td>
                        <td>71</td>
                        <td>66</td>
                        <td>61</td>
                        <td>56</td>
                        <td>50</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h1>Auswertung</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Note:</td>
                        <td>1,0</td>
                        <td>1,3</td>
                        <td>1,7</td>
                        <td>2,0</td>
                        <td>2,3</td>
                        <td>2,7</td>
                        <td>3,0</td>
                        <td>3,3</td>
                        <td>3,7</td>
                        <td>4,0</td>
                        <td>NB</td>
                    </tr>
                    <tr>
                        <td>Häufigkeit:</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>Durchschnitt:</td>
                        <td colspan="11">--</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>