@import "global";


$darkColor: #087187;
$hellColor:  #08728767;
$hoverColor: #09677a;

/* section {
    align-content: center;
}

input, select{
    border: 0.2em solid #09677a;
    padding: 0.3em;
    margin-bottom: 0.75em;
    margin-right: 2em;
    color: #087187;
    border-radius: 0.25em;
}

form {
    margin-top: 2em;
}

button {
    background-color: #087187;
    color: white;
    padding: 14px 40px;
    border-radius: 0.75em;
    float: right;
}

button:hover {
    background-color: #09677a;
    text-decoration: underline;
}
*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




// /* Block */
// .inputBlock {
//     align-content: center;
// }

// /* Element */
// .inputBlock__function {
//     font-weight: bold;
//     font-size: 32px;
//     color: #087187;
//     margin-top: 10%;
// }

// .inputBlock__label {
//     font-weight: bold;
//     color: #087187;
// }

// .inputBlock__input {
//     color: #087187;
//     border: 0.2em solid #09677a;
//     border-radius: 0.75em;
//     padding: 0.3em;
//     margin-bottom: 0.75em;
//     margin-right: 2em;
// }

// .inputBlock__button {
//     background-color: #087187;
//     color: white;
//     padding: 14px 40px;
//     border-radius: 0.75em;
//     float: right;
//     font-weight: bold;
// }

// .inputBlock__form {
//     margin-top: 2em;
// }

// .inputBlock__button:hover{
//     background-color: #09677a;
//     text-decoration: underline;
// }

// /* Modifier */
// .inputBlock__function--uppercase{
//     text-transform: uppercase;
// }

/* Block */
.inputBlock {
    align-content: center;

    /* Element */
    &__function {
        font-weight: bold;
        font-size: 32px;
        color: $darkColor;
        margin-top: 10%;

        /* Modifier */
        &--uppercase{
            text-transform: uppercase;
        }
    }

    &__label {
        font-weight: bold;
        color: $darkColor;
    }

    &__input {
        color:$darkColor;
        border: 0.2em solid $hoverColor;
        border-radius: 0.75em;
        padding: 0.3em;
        margin-bottom: 0.75em;
        margin-right: 2em;
        &::placeholder{
            color: $hellColor;
        }
    }

    
    &__button {
        background-color:$darkColor;
        color: white;
        padding: 14px 40px;
        border-radius: 0.75em;
        float: right;
        font-weight: bold;
    }
    
    &__form {
        margin-top: 2em;
    }
    
    &__button:hover{
        background-color: $hoverColor;
        text-decoration: underline;
    }
    
}






// .inputBlock__input {
//     color: #087187;
//     border: 0.2em solid #09677a;
//     border-radius: 0.75em;
//     padding: 0.3em;
//     margin-bottom: 0.75em;
//     margin-right: 2em;
// }

// .inputBlock__button {
//     background-color: #087187;
//     color: white;
//     padding: 14px 40px;
//     border-radius: 0.75em;
//     float: right;
//     font-weight: bold;
// }

// .inputBlock__form {
//     margin-top: 2em;
// }

// .inputBlock__button:hover{
//     background-color: #09677a;
//     text-decoration: underline;
// }

// /* Modifier */
// .inputBlock__function--uppercase{
//     text-transform: uppercase;
// }