th{background-color: white;}
tr:nth-of-type(even){background: rgb(255, 255, 255)}
tr:nth-of-type(odd){background: rgb(55, 11, 250)}

.navigation {
    background-color: rgb(125, 123, 231);
    padding: 14px;
}

.navigation a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:arial;
}
 
.navigation a.active {
    background-color: #6c98bd;
    color: white;
    text-decoration: none;
}

.navigation a.visited {
    color: white;
    text-decoration: none;
}

.navigation a.link {
    color: white;
    text-decoration: none;
}

th.complete{
    background-color: rgb(131, 250, 131);
}

.borderRight{
    border-right:2px solid rgb(0, 0, 0);
}

table { 
    border-collapse: collapse; 
}

tr.thirdTry{
    border: 2px solid rgb(255, 0, 0);
}

button{
    float: right;
    background-color: rgb(125, 123, 231);
    border-radius: 4px;
    border-color: rgb(125, 123, 231);
}