.navigation {
    background-color: #087187;
    padding: 14px;
}

.navigation a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:arial;
}
 
.navigation a.active {
    background-color: #6c98bd;
    color: white;
    text-decoration: none;
}

.navigation a.visited {
    color: white;
    text-decoration: none;
}

.navigation a.link {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #09677a;
}

.container {
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemContainer {
    width: 885px;
}

.wiSe {
    display: flex;
    flex-direction: row;    
    position: relative;
}

.semesterContainerWinter {
    clear: both;
    background-color: #004a5a;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.winter {
    color: white;
}

.textWinter {
    float: right;
    background-color: #a6c0c5;
    width: 755px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 15px;
 }

.soSe {
    display: flex;
    flex-direction: row;
    position: relative;
}

.semesterContainerSommer {
    clear: both;
    background-color: #2aa4be;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.sommer {
    color: white;
}

.textSommer {
    float: right;
    background-color: #b5dfe8;
    width: 755px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 15px;
 }

 .overlay {
    background-color: grey;
    opacity: .7;
    width: 800px;
    height: 25px;
    padding-bottom: 15px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

 h1 {
     align-self: start;
 }

 input {
     height: 40px;
 }

 .header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 801px;
 }

button {
    height: 40px;
}