@charset "UTF-8";
/* Definition von MixIns, um wiedervendbare Blöcke zu haben */
/* Globale Variablen, um das Aussehen schnell, ohne viele Änderungen, anpassen zu können */
/*Block*/
.navigation {
  background-color: #087187;
  padding: 14px;
  height: 20px;
  /* Element */
  /* Modifier */
}

.navigation .navigation__item {
  padding: 14px 16px;
  font-size: 17px;
  font-family: arial;
  display: block;
  display: inline;
  color: white;
  text-decoration: none;
}

.navigation .navigation__item:hover {
  background-color: #09677a;
  text-decoration: underline;
}

.navigation .navigation__item:active {
  background-color: #7d7ff0;
  color: #0b67f1;
}

.navigation .navigation__item--active {
  background-color: #6c98bd;
  color: white;
  text-decoration: none;
}

/* Block */
.body {
  font-family: arial;
}

/* Block */
.contentContainer {
  height: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Block */
}

.contentContainer .itemsContainer {
  width: 801px;
  /* Element */
  /* Element */
  /* Element */
}

.contentContainer .itemsContainer .itemsContainer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 801px;
  /* Modifier */
  /* Modifier */
}

.contentContainer .itemsContainer .itemsContainer__header .itemsContainer__header--align {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.contentContainer .itemsContainer .itemsContainer__header .itemsContainer__header--inputHeight {
  height: 40px;
}

.contentContainer .itemsContainer .itemsContainer__elementWiSe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  /* Element */
  /* Element */
}

.contentContainer .itemsContainer .itemsContainer__elementWiSe .itemsContainer__elementWiSeSquare {
  clear: both;
  background-color: #004a5a;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  position: relative;
  /* Modifier */
}

.contentContainer .itemsContainer .itemsContainer__elementWiSe .itemsContainer__elementWiSeSquare .itemsContainer__elementWiSeSquare--textColor {
  color: white;
}

.contentContainer .itemsContainer .itemsContainer__elementWiSe .itemsContainer__elementWiSeText {
  float: right;
  background-color: #a6c0c5;
  width: 800px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  margin-bottom: 15px;
  position: relative;
}

.contentContainer .itemsContainer .itemsContainer__elementSoSe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  /* Element */
  /* Element */
}

.contentContainer .itemsContainer .itemsContainer__elementSoSe .itemsContainer__elementSoSeSquare {
  clear: both;
  background-color: #2aa4be;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  position: relative;
  /* Modifier */
}

.contentContainer .itemsContainer .itemsContainer__elementSoSe .itemsContainer__elementSoSeSquare .itemsContainer__elementSoSeSquare--textColor {
  color: white;
}

.contentContainer .itemsContainer .itemsContainer__elementSoSe .itemsContainer__elementSoSeText {
  float: right;
  background-color: #b5dfe8;
  width: 800px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  margin-bottom: 15px;
  position: relative;
}
/*# sourceMappingURL=klausurenSicht.css.map */