@import 'global';



.container {
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemContainer {
    width: 801px;
}

.wiSe {
    display: flex;
    flex-direction: row;
}

.semesterContainerWinter {
    clear: both;
    background-color: #004a5a;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.winter {
    color: white;
}

.textWinter {
    float: right;
    background-color: #a6c0c5;
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 15px;
 }

.soSe {
    display: flex;
    flex-direction: row;
}

.semesterContainerSommer {
    clear: both;
    background-color: #2aa4be;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.sommer {
    color: white;
}

.textSommer {
    float: right;
    background-color: #b5dfe8;
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 15px;
 }

 h1 {
     align-self: start;
 }

 input {
     height: 40px;
 }

 .header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 801px;
 }