.navigation { /*Block*/
    background-color: #087187;
    padding: 14px;
}

.navigation__item{ /*Element */
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:arial;
}

.navigation__item--active{ /*Modifier */
    background-color: #6c98bd;
    color: white;
    text-decoration: none;
}

.navigation__item--visited { /*Modifier */
    color: white;
    text-decoration: none;
}

.navigation__item--link { /*Modifier */
    color: white;
    text-decoration: none;
}

.body{ /*Block*/
    font-family:arial;
}

.examiner__button--default{ /*Modifier */
    background-color: rgb(125, 123, 231);
    border-radius: 4px;
    border-color: rgb(125, 123, 231);
}

.examiner__list--default{
    margin: 0px;
    padding: 0px;
}

.examiner__listitem--noListStyle{ /*Modifier */
    list-style-type: none;
}

.examiner--default{ /*Modifier */
    border-right: 2px solid rgb(0, 0, 0);
    height: 80%;
}

.studis--default{ /*Modifier */
    border-right: 2px solid rgb(0, 0, 0);
    height: 80%;
}

.tasks--default{ /*Modifier */
    border-right: 2px solid rgb(0, 0, 0);
    height: 80%;
}

.clef{ /*Block*/
    border-bottom: 2px solid rgb(0, 0, 0);
}

.examiner--floating{ /*Modifier */
    float: left;
    margin: 5px;
}

.studis--floating{ /*Modifier */
    float: left;
    margin: 5px;
}

.tasks--floating{ /*Modifier */
    float: left;
    margin: 5px;
}

.tasks__button--default{ /*Modifier */
    background-color: rgb(125, 123, 231);
    border-radius: 4px;
    border-color: rgb(125, 123, 231);
}

.clefAndEvaluation--floating{ /*Modifier */
    float: left;
    margin: 5px;
}

.studis__table--borderSpacing{ /*Modifier */
    border-spacing: 10px;
}